

/* IDEA: MAKE A DIV, JUST UNDER THE BODY ELEMENT THAT CONTAINS ALL THE CONTENT */



body {
display: flex;
flex-direction: column;
height: 100vh; 
align-items: center;
}

.sub-body {
display: flex;
flex-direction: column;
width: 900px;
}

.header {
height: 150px;
background-color:#1f2937;
}

.ul-wrapper {
display: flex;   
justify-content: flex-end; 
}

.header ul {
display: flex;    
gap: 6px
}

.header, a {
color: white;
}

ul, li {
list-style: none;
}

ul {
padding: 0px;
margin-right: 8px;
}